@tailwind base;
@tailwind components;
@tailwind utilities;
/* Leaflet map fix */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
}